.sidd {
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0px;
  border-right: 1px solid #161616;
  position: fixed;
}
.logo-brows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  color: aliceblue;
}
.logo span {
  color: #ad241b;
}
.links {
  width: 100%;
  margin-top: 28%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid #161616;
}
.links i {
  padding: 0px 10px;
  color: #ad241b;
}
.links a:hover {
  color: #fff;
}

.top-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  gap: 10px;
}

.img-mov img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}
.log-in {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in i {
  padding: 0px 10px;
  color: #ad241b;
}
.top-moves {

  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid #161616;
}
.title-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.title-sec h4{
  color: #fff;
}
.title-sec span{
  color: #ad241b;
}